doctype html
html(lang="en")
  head
    title= "Your addresses"
  body
    h1 Your addresses
    each address in addresses
        table(border=1)
            tr
                td Contact name
                td #{address.get().ContactName}
            tr
                td Company name
                td #{address.get().CompanyName}
            tr
                td District
                td #{address.get().District}
            tr
                td Province / state
                td #{address.get().Province_State}
            tr
                td Nation
                td #{address.get().Nation}
            tr
                td Postal code
                td #{address.get().PostalCode}
            tr
                td City
                td #{address.get().City}
            tr
                td
                    form(action="/edit_address/"+address.get().AddressID)
                        input(type="submit", value="Edit")
                td
                    form(action="/del_address/"+address.get().AddressID)
                        input(type="submit", value="Delete")
        br
    else
        p You don't have any addresses!
    form(action="/new_address")
        input(type="submit", value="Add New")

//- ContactName VARCHAR(64) NOT NULL,
//- CompanyName VARCHAR(64),
//- District VARCHAR(64),
//- Province_State VARCHAR(64) NOT NULL,
//- Nation VARCHAR(64) NOT NULL,
//- PostalCode VARCHAR(16) NOT NULL,
//- City VARCHAR(32) NOT NULL,
//- AddressID INT NOT NULL AUTO_INCREMENT,
//- PRIMARY KEY (AddressID)
